html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

.wrapper {
    max-width: 650px;
    margin: 0 auto;
    padding: 10px;
}

.nav {
    margin-bottom: 2rem;
}

.brand {
    font-weight: 700;
}

.em,
.em-svg {
    height: 2.4rem;
    width: 2.4rem;
}

.temp {
    margin-top: 25px;
    margin-bottom: 0px;
}