html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
    padding: 10px;
}

.wrapper {
    max-width: 650px;
    margin: 0 auto;
    min-height: calc(100vh - 200px);
}

.nav {
    margin-bottom: 1rem;
}

.brand {
    font-weight: 700;
}

.left-stat {
    margin-right: 1rem;
}

.right-stat {
    margin-left: 1rem;
}

.space {
    margin-bottom: 2.5rem;
}

.little-more-space {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.cut-top {
    margin-top: 0;
}

.loading {
    margin-top: 2rem;
    width: 100%;
    background-color: #F8F8F8;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
}

.ad {
    padding: 1px;
    background-color: #F8F8F8;
    border-radius: 4px;
}

.footer {
    height: 100px;
    max-width: 650px;
    margin: 0 auto;
}