html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

.wrapper {
    max-width: 650px;
    margin: 0 auto;
    padding: 10px;
}

.nav {
    margin-bottom: 2rem;
}

.brand {
    font-weight: 700;
}

.left-stat {
    margin-right: 1rem;
}

.right-stat {
    margin-left: 1rem;
}

.cut-top {
    margin-top: 0;
}

.ad {
    height: 40px;
    width: 100%;
    background-color: gray;
    margin: 40px 0px 40px 0px;
}